<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    <ion-input placeholder="Precio" [(ngModel)]="precio"></ion-input>
    <ion-textarea placeholder="Descripción" [(ngModel)]="descripcion"></ion-textarea>
    <ion-button expand="block" (click)="insertar()">Insertar</ion-button>
  </ion-card>

  <ion-card *ngFor="let item of bocadillos">
    <ion-card-header>
      <ion-card-title>Bocadillo {{item.nombre}} ({{item.precio}} €)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-label> Descripción: </ion-label>
        {{item.descripcion}}
      <!--<img [src]="ruta" [style.width.px]="width"/>-->
    <!--  <ion-button expand="block" (click)="cambiar_Oculto()">{{oculto ? "Mostrar" : "Ocultar"}} descripción</ion-button>-->
      <!--<div *ngIf = "oculto == false">El bocadillo chivito es un bocadillo que lleva distintos ingredientes como tomate, lechuga o lomo.</div>-->
      <ion-button expand="block" [routerLink]="['/details/',item.id]" routerDirection="forward">Detalle</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
